# Programación Funcional

## Qué es la programación funcional?
La programción fucional es el paradigma que utiliza funciones para expresar su comportamiento.

Para entender la programación funcional, es necesario entender la programación imperativa y los side effects.
La programación imperativa se puede definir como la programación que se ejecuta de forma secuencial y va cambiando el estado de la aplicación.
por cambiar el estado de la aplicación nos referimos a la modificación de de las variable y los objetos de la aplicación.

En contraposición a la programación imperativa, la programación funcional no modifica el estado de la aplicación.

### Ejemplo de programacion funcional vs programación imperativa

In [1]:
# Programacion imperativa
enteros = [1,2,3,4,5,6]

In [3]:
'''
lista los números pares de la lista enteros
'''
pares = []
for valor in enteros:
    if valor %2 ==0:
        pares.append(valor)

print(pares)

[2, 4, 6]

In [4]:
'''
eleva al cuadrado los números de la lista pares
'''

cuadrados = []
for valor in pares:
    cuadrados.append(valor**2)
    
print(cuadrados)

[4, 16, 36]

In [7]:
'''
suma todos los números de la lista cuadrados
'''
sumatorio = 0
for valor in cuadrados:
    sumatorio += valor
print(sumatorio)

56

Como podemos ver en el ejemplo anterior, mediante programación imperativa vamos creando una serie de variables, modificando su estado y obteniendo un resultado.
Ahora vamos a hacer lo mismo con programación funcional.

In [ ]:
# Programacion funcional
enteros = [1,2,3,4,5,6]

In [10]:
'''
lista los números pares de la lista enteros
'''
pares = filter(lambda x: x % 2 == 0, enteros)
print(list(pares))

[2, 4, 6]

In [13]:
'''
eleva al cuadrado los números de la lista pares
'''
list(map(lambda x: x**2, list(filter(lambda x: x %2 ==0, enteros))))

[4, 16, 36]

In [15]:
'''
suma todos los números de la lista cuadrados
'''
from functools import reduce
reduce(lambda x, y: x + y, list(map(lambda x: x**2, list(filter(lambda x: x %2 ==0, enteros)))))

56

### Conceptos

#### Funciones puras

- Son funciones que no tienen side effects, es decir, que no modifican el estado de la aplicación.
- Dado un mismo input, siempre van a devolver el mismo output.
- No dependen de ningún estado externo.

#### Compocision de funciones

- Es la combinación de dos o más funciones con el objetivo de ejecutarlas de forma secuencial para obtener un resultado.

Qué vamos a ver?
- Funciones anonimas (lambda)
- Filter
- Map
- zip
- Reduce
- partial

### Lambda
Las expresiones lamda son funciones anónimas.

In [8]:
'''
lambda se define como una funcion anonima.

lambda x: x + 1
      ^    ^
      arg body

a continuación de lambda se indican los argumentos de la funcion y después de : se indica el cuerpo de la funcion.
'''
# la raiz cuadrada
sqroot = lambda x: x ** 0.5
sqroot(4)

#Multiplicar por dos
multiplicar_por_2 = lambda x: x *2

# Unird dos funciones: raiz cuadrada y multiplicar por dos
sqroot(multiplicar_por_2 (89))

13.341664064126334

In [10]:
# Quitar comas en texto:
quitar_comas = lambda texto: texto.replace( ',', '')
quitar_salto_linea = lambda texto: texto.replace('\n', '')

txt_prueba = 'Hola, soy un texto de prueba\n con salto de linea'
print(txt_prueba)
print(quitar_salto_linea(quitar_comas(txt_prueba)))

Hola, soy un texto de prueba
 con salto de linea
Hola soy un texto de prueba con salto de linea

args* - Lambdas con vários argumentos

In [12]:
# A las funciones lambdas se les pueden passra 2 o más argumentos

sumar = lambda x ,y: x +y
sumar(2,3)

sumar = lambda x ,y, z: x + y + z
sumar(2, 3, 4)


# Podemos pasar un numero indefinido de argumentos
sumar = lambda *args: map(lambda x: x +1, args)
print(list(sumar(2, 3, 4, 5, 6, 7, 8, 9, 10)))

# Podemos pasar un numero indefinido de argumentos
test1 = lambda *args: map(lambda x: x **2, args)
print(list(test1(2, 3, 4)))

# Acceder individualmente a los argumentos - los args es una lista de argumentos
test = lambda *args: args[1] **2
print(test(2, 3, 4))

[3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 9, 16]
9

### filter

In [25]:
'''
filter (función, iterable) => iterable
'''

enteros = [1,2,3,4,5,6,7,8]

filtra_pares = lambda x: x %2 ==0
print (list(filter(filtra_pares, enteros)))

[2, 4, 6, 8]

In [30]:
edad = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

filtra_rango_40_60 = lambda x: x >= 40 and x <= 60
filtra_rango_18_40 = lambda x: x >= 18 and x <= 40

lista_de_filtros = [filtra_rango_40_60, filtra_rango_18_40]


print(list(filter(filtra_rango_18_40, edad)))

#Otra mnanera:
# for filtro in lista_de_filtros:
#     print(list(filter(filtro, edad)))

[40, 50, 60]
[20, 30, 40]

Como hemos visto anteriormente podemos indicar una función lambda para filtrar una lista de elementos.

In [32]:
'''
crea una función lambda que reciba un año de nacimiento y devuelva la edad actual
'''
edad = lambda x: 2022 - x
'''
ahora filtra una lista de usuarios que tengan una edad mayor a 18
'''
usuarios = [ 
    {'nombre': 'Juan', 'nacimiento': 2017},
    {'nombre': 'Pedro', 'nacimiento': 2018},
    {'nombre': 'Maria', 'nacimiento': 1980},
    {'nombre': 'Juana', 'nacimiento': 1995},
    {'nombre': 'Jorge', 'nacimiento': 1985},
    {'nombre': 'Pablo', 'nacimiento': 1990},
    {'nombre': 'Clara', 'nacimiento': 1995},
    {'nombre': 'Bea', 'nacimiento': 2019},
    {'nombre': 'Pilar', 'nacimiento': 2010},
    ]

mayores_a_18 = lambda x: edad(x['nacimiento']) >= 18

list(filter(mayores_a_18, usuarios))

[{'nombre': 'Maria', 'nacimiento': 1980},
 {'nombre': 'Juana', 'nacimiento': 1995},
 {'nombre': 'Jorge', 'nacimiento': 1985},
 {'nombre': 'Pablo', 'nacimiento': 1990},
 {'nombre': 'Clara', 'nacimiento': 1995}]

Iterar un data fram de pandas

In [39]:
import pandas as pd

df = pd.DataFrame(usuarios)

mayores_a_18 = lambda x: edad(x[1]['nacimiento']) >= 18

list(filter (mayores_a_18, df.iterrows()))

[(2,
  nombre        Maria
  nacimiento     1980
  Name: 2, dtype: object),
 (3,
  nombre        Juana
  nacimiento     1995
  Name: 3, dtype: object),
 (4,
  nombre        Jorge
  nacimiento     1985
  Name: 4, dtype: object),
 (5,
  nombre        Pablo
  nacimiento     1990
  Name: 5, dtype: object),
 (6,
  nombre        Clara
  nacimiento     1995
  Name: 6, dtype: object)]

In [40]:
'''
Filtra las cadenas de la lista que tengan una longitud mayor a 5
'''

lista = ['hola', 'soy', 'un', 'texto', ' de', 'prueba', 'para', 'filtra', 'por','longitud']
filtro_longitud_5 = lambda x: len(x) > 5
list(filter(filtro_longitud_5, lista))

['prueba', 'filtra', 'longitud']

In [41]:
'''
filtra las cadenas de la lista que tengan una longitud mayor al número indicado en el argumento
'''
filtro_longitud = lambda x, longitud: len(x) > longitud
list(filter(lambda x: filtro_longitud (x,5), lista))

['prueba', 'filtra', 'longitud']

### map

In [43]:
'''
map (función, iterable1, iterable2, ... ) => iterable
'''

enteros = [1,2,3,4,5,6,8]

# Suma 10 a cada elemento de la lista

suma_10 = lambda x : x +10
list(map(suma_10, enteros))

# Aplicar el map utilizando iterables

suma_valores = lambda x, y: x +y
list(map(suma_valores , enteros, [10,20,30,40,50,60]))

[11, 22, 33, 44, 55, 66]

In [45]:
'''
Crea un función que reciba una lista de nombres y añada 'Hola' seguido de cada nombre.
'''
saludar = lambda nombre: 'Hola ' + nombre
personas = ['Ana', 'Pedro', 'Maria']

list(map(saludar,personas))

['Hola Ana', 'Hola Pedro', 'Hola Maria']

In [14]:
'''
Crea una función que reciba una lista de valores decimales y que devuelva una lista con los valores convertidos a enteros.
'''
lista_decimales = [1.1, 2.2, 3.3, 4.4,5.5, 6.6]
to_int = lambda x: int(x)
list(map(to_int, lista_decimales))

[1, 2, 3, 4, 5, 6]

### zip

In [23]:
'''
zip (iterable1, iterable2, ...) => iterable
'''

iterable = zip ([1,2,3,4,5,6,7,8,9], [10,20,30,40,50,60,70,80,90])

for x in iterable:
    print (x)

(1, 10)
(2, 20)
(3, 30)
(4, 40)
(5, 50)
(6, 60)
(7, 70)
(8, 80)
(9, 90)

In [22]:
# Como se puede ver acima, x es una tupla con dos valores... 
suma_valores = lambda x : x[0] + x[1]
list(map(suma_valores, iterable))

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [48]:
iterable = zip ([1,2,3,4,5,6,7,8,9], [10,20,30,40,50,60,70,80,90], [100,200,300,400,500,600,700,800,900])
imprime_valores = lambda x: x
list(map(imprime_valores, iterable))

[(1, 10, 100),
 (2, 20, 200),
 (3, 30, 300),
 (4, 40, 400),
 (5, 50, 500),
 (6, 60, 600),
 (7, 70, 700),
 (8, 80, 800),
 (9, 90, 900)]

In [50]:
# Vamos a unir nombre y apellidos

nombre = ['ana', 'Pedro', 'Juan', 'Paul']
apellidos = ['Lopes', 'Gomez', 'Sanches', 'Garcia']
nacimiento = ['1990', '1890', '1980','2000']

crear_entrada = lambda x : {'nombre': x[0], 'apellido': x[1], 'nacimiento': x[2]}

list(map(crear_entrada, zip(nombre, apellidos, nacimiento)))

[{'nombre': 'ana', 'apellido': 'Lopes', 'nacimiento': '1990'},
 {'nombre': 'Pedro', 'apellido': 'Gomez', 'nacimiento': '1890'},
 {'nombre': 'Juan', 'apellido': 'Sanches', 'nacimiento': '1980'},
 {'nombre': 'Paul', 'apellido': 'Garcia', 'nacimiento': '2000'}]

### reduce

In [54]:
from functools import reduce
# La función reduce lo que hace es aplicar una función a un iterable y devolver un único valor. 
# La función reduce recibe como argumentos una función y un iterable.

'''
reduce (función, iterable) => valor
'''
# Podemos definir el acumulador y por ejemplo  empezar con 6

suma = lambda x, y: x+y
print(reduce(suma, [1,2,3], 6))

12

In [57]:
from functools import reduce
'''
Dada una lista de numeros, devuelve el valor del numero mayor. Utilizando reduce
'''
lista = [53, 23, 56, 12, 98, 34,34,23]
elemento_mayor = lambda x, y: x if x > y else y

max_value = reduce (elemento_mayor, lista, 100)
print(max_value)

100

In [58]:
lemma_tokens = [('El', 'el', 'DET'),('gato', 'gato', 'NOUN'),('come', 'comer', 'VERB'),('pescado', 'pescado', 'NOUN')]

concat_text = lambda x, y : x + ' ' + y[0]

print(reduce(concat_text, lemma_tokens, ''))

 El gato come pescado

In [26]:
from functools import reduce
'''
dado un array de booleanos, comprueba si todos los elementos son true
'''

booleanos = [True, True, True, True, False, True, True , False]

ambos_true = lambda x, y: x and y

todos_true = reduce (ambos_true, booleanos, True)
print(todos_true)

False

In [27]:
'''
suma el valor de todos los elementos de una lista
'''


list_numeros = [1,2,3,4,5,6,7,8,9,10]

#Enfoque imperativo
acumulador = 0
for elemento in list_numeros:
    acumulador += elemento
print(acumulador)

# Enfoque funcional
print(reduce(lambda x, y: x +y , list_numeros, 0))

55
55

In [28]:
'''
Cuenta el número de elementos de un iterable que cumplan una condición.
'''
# Enfoque imperativo
contador = 0
for elemento in list_numeros:
    if elemento % 2 == 0:
        contador += 1
print(contador)

# Enfoque funcional
print(reduce(lambda x, y: x +1 if y %2 ==0 else x, list_numeros, 0))

5
5

### partial

In [30]:
# La funcion partial se utiliza para crear una nueva función a partir de una función existente.

from functools import partial
suma = lambda x, y: x + y


"""La funcion que estamos utilizando recibe 2 argumentos, con el partial,
podemos predefir un argumento por default y pedir solo un nº como argumento
"""

suma_2 = partial(suma, 2)
suma_10 = partial (suma, 10)



print(suma(5,6))
print(suma_2(20))
print(suma_10(20))

lista_numeros = [1,2,3,4,5,6,7,8,9,10]
list(map(lambda x: suma_2(x) if x % 2 == 0 else suma_10(x), lista_numeros))

11
22
30

[11, 4, 13, 6, 15, 8, 17, 10, 19, 12]

In [35]:
suma = lambda x, y: x + y

prueba = lambda x: partial(suma, x*2)

prueba(10)(20)

# lambda x: partial (x + y, x *2)
# lambda 10: partial (x + 20, 10*2)
# x + y
# 10 * 2 + 20 = 40

40

In [38]:
suma_de_3 = lambda x, y, z: x + y+ z
nueva_suma = partial(suma_de_3, 1,2)
print(nueva_suma(3))
# x = 1, y = 2, z = 3

suma_de_3 = lambda x, y, z: x *2 + y *3 + z
nueva_suma = partial(suma_de_3, 1)
print(nueva_suma(2,3))
# x *2 = 2, y*3 = 6, z = 3

6
11

## Ejemplos:

In [40]:
# 1. Data una lista de cadenas obtener una lista de cadenas en mayúsculas

lista_de_palabras = ['hola', 'que', 'tal','estas', 'hoy']
# a_mayusculas = lambda x: x.upper()

a_mayusculas = lambda letra: letra.upper()
cadena_a_mayusculas = lambda palabra: ''.join(list(map(a_mayusculas, palabra)))

print("op1: ", list(map(cadena_a_mayusculas, lista_de_palabras)))

# Otra manera de guardar parcialemnte la funciónm
print("op2: ",list(map(lambda palabra: ''.join(list(map(lambda letra: letra.upper(), palabra))), lista_de_palabras)))

op1:  ['HOLA', 'QUE', 'TAL', 'ESTAS', 'HOY']
op2:  ['HOLA', 'QUE', 'TAL', 'ESTAS', 'HOY']

In [89]:
# 2. Dada una lista de alumnos con sus calificaciones, obtener una lista con el nombre de los que han obtenido una calificación media mayor a 7
alumnos = [ {
    'nombre': 'Juan',
    'calificaciones': [10, 9, 6] # promedio: 7.5
    },
    {
    'nombre': 'Pedro',
    'calificaciones': [8, 7, 5] # promedio: 6.5
    },
    {
    'nombre': 'Maria',
    'calificaciones': [9, 8, 7] # promedio: 8.0
    },
    {
    'nombre': 'Juana',
    'calificaciones': [3,6,4] # promedio: 5.0
    },
    {
    'nombre': 'Jorge',
    'calificaciones': [10, 10, 10] # promedio: 10.0
    },
    {
    'nombre': 'Pablo',
    'calificaciones': [2, 0, 1] # promedio: 1.0
    },
    {
    'nombre': 'Pilar',
    'calificaciones': [5,6,6] # promedio: 5.6
    }]


promedio_de_calificaciones = lambda calificaciones: reduce(lambda x, y: x + y, calificaciones, 0)/ len(calificaciones)
promedio_de_calificaciones([5,6,6])
    
list(map(lambda alumno: alumno['nombre'], filter(lambda alumno: promedio_de_calificaciones(alumno['calificaciones'])> 7, alumnos)))

['Juan', 'Maria', 'Jorge']

In [91]:
# 3. Dada una lista de palabras, obtener una lista con las palabras que son palíndromos
# palíndromo: una palabra que se lee de izquierda a derecha igual que de derecha a izquierda

palabras = ['rajar', 'amar', 'radar', 'salar', 'alada', 'oro', 'arar']

list(filter(lambda palabra: palabra == palabra [::-1], palabras))

['rajar', 'radar', 'oro']

In [92]:
# 4. Define una función que dado un valor genere una lista con los números desde 1 hasta ese valor elevados al cuadrado
cuadrados = lambda x: map(lambda y: y **2, range (1, x+1))
list(cuadrados(5))

[1, 4, 9, 16, 25]

In [98]:
# 5. Define una funcion que retorne las palabra de una lista con una longitud mayor a 5

texto = 'hola que tal estas hoy esto es una prueba'
texto = texto.split()

list(filter(lambda palabra: len(palabra)>=5, texto))

['estas', 'prueba']

In [99]:
# 6. Define una función que retorne las palabras de una lista que contengan una letra dada
texto = 'hola que tal estas hoy esto es una prueba'
texto = texto.split()

contiene_letra = lambda letra, lista: list(filter(lambda palabra: letra in palabra, lista))
texto.append('adios')
contiene_letra('s', texto)

['estas', 'esto', 'es', 'adios']

In [105]:
from functools import reduce
# 7. Define una función que dada una lista de palabras concatene todas con un '|' mediante reduce

texto = "Esto es un texto de prueba. Esto es un texto de prueba."
print(texto.replace(' ' ,'|'))

print(reduce(lambda palabra1, palabra2: palabra1 + '|' + palabra2, texto.split(' '), ''))

Esto|es|un|texto|de|prueba.|Esto|es|un|texto|de|prueba.
|Esto|es|un|texto|de|prueba.|Esto|es|un|texto|de|prueba.

### Ejemplo "real" con lo que hemos visto

In [111]:
import pandas as pd

df = pd.read_csv('./madrid.csv', encoding='latin-1', usecols=['VIA_CLASE', 'VIA_PAR', 'VIA_NOMBRE_ACENTOS'], sep=';')
df.head(10)

  VIA_CLASE VIA_PAR VIA_NOMBRE_ACENTOS
0    PASAJE     NaN                  A
1   AUTOVÍA     NaN                A-1
2   AUTOVÍA     NaN                A-2
3   AUTOVÍA     NaN                A-3
4   AUTOVÍA     NaN                A-4
5   AUTOVÍA     NaN               A-42
6   AUTOVÍA     NaN                A-5
7   AUTOVÍA     NaN                A-6
8     CALLE     DEL  ABAD JUAN CATALÁN
9     CALLE   DE LA              ABADA

In [112]:
#limpiar los nulos con fillna

df.fillna('', inplace=True)
df.head()

  VIA_CLASE VIA_PAR VIA_NOMBRE_ACENTOS
0    PASAJE                          A
1   AUTOVÍA                        A-1
2   AUTOVÍA                        A-2
3   AUTOVÍA                        A-3
4   AUTOVÍA                        A-4

In [117]:
#pasar a minusculas
minusculas = lambda x: x.lower()

# unir las palabras
concatenar_columnas = lambda x: x[0] + x[1] + x[2]

tipos_vias = df['VIA_CLASE'].unique()
tipos_vias_par = df['VIA_PAR'].unique()
concatenar_elementos = lambda x,y: x + '|' + y

tipos_via_procesado = reduce(concatenar_elementos, map(minusculas, tipos_vias))
tipos_via_par_procesado = reduce(concatenar_elementos, map(minusculas, tipos_vias_par))

regex = rf'({tipos_via_par_procesado})\s+({tipos_via_par_procesado})\s?'
print(regex)





df.head(10)

(|del|de la|de los|de|de las|a la|al)\s+(|del|de la|de los|de|de las|a la|al)\s?

  VIA_CLASE VIA_PAR VIA_NOMBRE_ACENTOS
0    PASAJE                          A
1   AUTOVÍA                        A-1
2   AUTOVÍA                        A-2
3   AUTOVÍA                        A-3
4   AUTOVÍA                        A-4
5   AUTOVÍA                       A-42
6   AUTOVÍA                        A-5
7   AUTOVÍA                        A-6
8     CALLE     DEL  ABAD JUAN CATALÁN
9     CALLE   DE LA              ABADA

Ejemplo 2:

In [118]:
'''
 -----------------------
|       |       |       |
|   1   |   2   |   3   |
| a b c | d e f | g h i |
 -----------------------
|       |       |       |
|   4   |   5   |   6   |
| j k l | m n o | p q r |
 -----------------------
|       |       |       |
|   7   |   8   |   9   |
| s t u | v w x | y z   |
 -----------------------

ejemplo: 
  3541 => hola
  57725 => mundo
  11455 => cajón, bajón, balón
Definir una función que dado un número, devuelva una lista con las palabras que se pueden escribir en ese número
'''
teclado = { 'abc': 1, 'def': 2, 'ghi': 3, 'jkl': 4, 'mno': 5, 'pqr': 6, 'stu': 7, 'vwx': 8, 'yz': 9 }

In [121]:
valores = "hola mundo cajón bajón melon"
valores = valores.split()
valores

get_value = lambda key: teclado[key[0]]
letra_a_numero = lambda letra: get_value([keys for keys in teclado.keys() if letra in keys])

palabra_a_numero = lambda palabra: ''.join(letra_a_numero,palabra)
palabra_a_numero('hola')

yz